.pagination{
text-align: centre;
}
.pagination a{
    colour:green;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-colour: blue;
    front-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-colour:white;
    border-radius: 5px;
}